<div class="container">

    <h1>Hola Cinthya, que tal dia estas pasando? Sigue disfrutando de tu musica favorita.</h1>
        <h1>PlayList Populares</h1>
        <div class="card">
            <div class="cover">
                <img src="../../assets/img/caratulas/caratula_salsa.jpg" alt="caratula_salsa">
            </div>
            <div class="card-header">
                Titulo Playlist
            </div>    
        </div>
    </div>
    <div class="container">
            <h1>Canciones Populares</h1>
            <div class="card">
                <div class="cover">
                    <img src="../../assets/img/caratulas/caratula_salsa.jpg" alt="caratula_salsa">
                </div>
                <div class="card-header">
                    Titulo Cancion
                </div>    
            </div>
    </div>
    <div class="container">
            <h1>Artistas Populares</h1>
            <div class="card">
                <div class="coverRounded">
                    <img src="../../assets/img/caratulas/caratula_salsa.jpg" alt="caratula_salsa">
                </div>
                <div class="card-header">
                    NOmbre artista
                </div>    
            </div>
    </div>