.containerImage{
    background: red;
    height: 157px;
    height: 157px;
    img{
        height: 157px;
        height: 157px;
        // margin: 31px;;
        // object-fit: cover;
        
    }
    .play{
        background: red;
        img{
            background: red;
            height: 62px;
            height: 62px;    
            object-fit: cover;
            z-index: 8;
            margin: -50;
        }
    }
}