<div
    gdAreas=" reproductor1 sonido| reproductor2 sonido"
    gdColumns="auto auto"
    gdRows="auto auto"> 
<footer>
    <div class="controlesMusica" gdArea="reproductor1">
            <div class="item"><img src="../../assets/img/reproductor/icons8-shuffle-100.png" alt=""></div>
            <div class="item"><img src="../../assets/img/icons8-saltar-a-inicio-100.png" alt=""></div>
            <div class="item"><img src="../../assets/img/icons8-reproducir-en-círculo-100.png" alt=""></div>
            <div class="item"><img src="../../assets/img/reproductor/icons8-fin-100.png" alt=""></div>
            <div class="item"><img src="../../assets/img/reproductor/icons8-repite-uno-100.png" alt=""></div> 
        </div>
        <div class="lineaReproduccion" gdArea="reproductor2">
            <div class="tiempoInicial">
                    1:00 
            </div>
            <div class="lineaTiempo">
                    -----------------------------------------
            </div>
            <div class="tiempoFinal">
                    0:00
            </div>
        </div>
        <div class="controlVolumen" gdArea="sonido">
            <div class="item"><img src="../../assets/img/reproductor/icons8-volumen-alto-100.png " alt=""></div>
        </div>
</footer>
    
</div>